# this file is an example of the .env file
# please write the following variables to the .env file, replacing the values with your own
VISUAL_CROSSING_API_KEY="YOUR_API_KEY"
DB_PASSWORD="YOUR_DATABASE_PASSWORD" # leave it empty ("") if the DB does not have a password
